*{
    padding: 0%;
    margin: 0%;
    font-family: 'pixel-font', 'sans-serif';
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/main_title_bg.png");
    background-size: cover;
    background-position: fixed;
    background-repeat: round;
    overflow-x: hidden;
    overflow-y: visible;
}

@font-face {
    font-family: 'pixel-font';
    src: url("../assets/fonts/minecraft-font/MinecraftRegular-Bmg3.otf");
}

#header {
    color: #9290C3;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 1rem;

    .header-title {
        border-radius: 1rem;
        padding: 1rem;
        font-size: 2rem;
        text-align: center;

        @media (max-width: 600px){
            font-size: 1.5rem;
        }
    }
}


#main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}


.stars {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/stars.png'); /* Adiciona a imagem de estrelas */
    animation: moveStars 100s linear infinite; /* Define a animação das estrelas */
}


#footer {
    display: inherit;
    flex-direction: column;
    margin-top: 100px;
    padding: 1rem;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
    background-color: #070f2b;
    & p {
        font-size: larger;
    }
}



@keyframes moveStars {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0; /* Move as estrelas para a esquerda */
    }
}


.person-card {
    border-radius: 1rem;
    padding: .5rem;
    background-color: #070f2b77;
    display: flex;
    flex-direction: column;
    transition: all 300ms;

    .card-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        transition: inherit;
        color: antiquewhite;
        
        & h2 {
            text-align: center;
        }
    
        & img {
            width: 80%;
            border-radius: 25%;
            padding: 1rem;

        } @media (max-width: 600px){
            padding: 1rem;
            font-size: 1rem;
            
        }
    }


    .card-content {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        height: 0%;
        padding: 1rem;
        transition: inherit;

        overflow-y: scroll;
        overflow-x: hidden;
    
        & p {
            color: #9290C3;
            font-size: 1rem;
            padding-bottom: 2rem;
            text-align: center;
        }

        & h3 {
            color: antiquewhite;
            text-align: center;

        }

        .card-bar {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 40%;
            border-top: 3px dotted #9290C3;
            align-self: center;
        }

        .card-list {
            list-style: none;
            padding: 1rem;
        }
        .card-list li{
            width: 100%;
            background-color: white;
            padding: 1rem;
            margin-bottom: .5rem;
            border-radius: 10px;
        }

        .card-topic {
            color: #9290C3;
        }

        .link-topic {
            text-align: center;
        }

        .link-topic-instagram {
            background-color: #c13584;
        
        }
        
        .link-topic-linkedin {
            background: #0A66C2;
        }
        
        .link-topic-steam {
            background-color: #1b2838;
        
        }
        
        .link-topic:hover {
            color: whitesmoke;
            background-color: #9290C3;
            cursor: pointer;
            transform: scale(1.1);
            animation: wave 1000ms infinite ease-in-out;
        }
    
    
    }


}

.person-card:hover {
    background-color: #070f2b;
    scale: 1.1;
    padding: .5rem;
    height: 110%;


    .card-header {
        transform: scale(0.8);
        height: 70%;
    }
    .card-content{
        height: 80%;
        visibility: visible;
    }

    ::-webkit-scrollbar-thumb{
        background: #555;
        width: 20px;
    }

    @media (max-width: 1000px){
        .person-card {
            padding: 0%;
        }
        .card-header {
            transition: 0ms;
            visibility: hidden;
            height: 0%;
            padding: 0%;
        }
        .card-content{
            padding: 0%;
            height: 100%;
            width: 100%;
            visibility: visible;
        }

        ::-webkit-scrollbar {
            width: 8px
          }
    }

    
}


#people-grid {
    width: 80%;
    height: 80%;

    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(1, 600px);
    grid-gap: 36px;
    border-radius: 25px;


    @media (max-width: 900px) {
        width: 80%;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        row-gap: 50px;

    }
   
   
}

/* width */
::-webkit-scrollbar {
    width: 16px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #88888800;
}

::-webkit-scrollbar-thumb{
    background: #55555500;
    width: 20px;
}



@keyframes wave {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    } 100% {
        transform: scale(1);
    }
}
